[Unit]
Description=Flask Sensor API Service
After=network-online.target

[Service]
Type=forking
ExecStart=flask run --host=0.0.0.0
WorkingDirectory=/home/pi/temptool/TempTool/api
Restart=on-failure

[Install]
WantedBy=multi-user.target